extends app.pug
//-pag que vai permitir editar itens no BD
block titulo 
    title Atualizar cliente
block h1PaginaInicial
    h1 Atualizar cliente
block obsEmVermelhoAbaixoDoH1
    p(style='color:red') Quando formos atualizar um cliente, faremos uma conexão com um BD mysql, com tabelas criadas por essa aplicação usando o framework express
block conteudo
    form(action=`/clients/${clientParaView.id}?_method=PUT` method="POST")
        .mb-3
            label.form-label(for="name") Nome:
            input#name.form-control(type="text" value=`${clientParaView.name}` name="name" placeholder="digite o nome" required)
        .mb-3
            label.form-label(for="email") Email:
            input#email.form-control(type="email" value=`${clientParaView.email}` name="email" placeholder="digite o email" required)
        button.btn.btn-success(type="submit" value="submit") Atualizar
